body
  #content-outer
    #divleft
      position: absolute;
      display: none;
      float: left;
      left: 0;
      top: 0px;
      // background-color: red;
      height: 200px;
      width: 300px;
      // z-index: 100px;
      border: 1px solid black;
      box-sizing: border-box;
      color: #4c4948;
      font-size: 14px;
      overflow: hidden;
    #divright
      position: absolute;
      display: none;
      float: right;
      right: 0;
      top: 0px;
      border: 1px solid black;
      box-sizing: border-box;
      // background-color: blue;
      height: 200px;
      width: 300px;
      color: #4c4948;
      font-size: 14px;
      // z-index: 100px;
      overflow: hidden;